body {
	text-align: center;
	margin: 0px;
	padding: 0px;
}

header {
	color: white;
	background-color: #00bfff;
}

.description img {
    width: 100px;
    height: 100px;
    border-radius: 75px;
    justify-content: flex-end
}

.description {
	padding-bottom: 10;
}

.icon_color {
	color: #00bfff;
}

.github_icon_color {
	color: black;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

.inline {
	text-align: center;
}
.inline li {
	display: inline;
}

.footer_area {
	height: 50px;
}

footer {
	margin: 0 -200%; /* マージンを追記 */
	padding: 0 200%; /* マージンで横にはみ出した部分を戻す */
	background-color: #00bfff;
}
