body {
	text-align: center;
	margin: 0px;
	padding: 0px;
}

header {
	color: white;
	background-color: #00bfff;
}

.description img {
    width: 100px;
    height: 100px;
    border-radius: 75px;
    justify-content: flex-end
}

.description {
	padding-bottom: 10;
}


ul {
	list-style-type: none;
	padding-left: 0;
}

.inline {
	text-align: center;
}
.inline li {
	display: inline;
}

