
body {
	margin: 0px;
	padding: 0px;
}

.column {
	height: 100vh;
	width: 100%;
}


.same_image {
	background: url(./images/IMG_3518.jpg) no-repeat top center;
	background-size: cover;
}


.text {
	background: no-repeat top center;
	background-size: cover;
	background-color: #00bfff;
	color: white;
	text-align: center;
}


.twitter_icon {
	color: white;
	padding: 2%;
}

.github_icon {
	color: black;
	padding: 2%;
}

.linkedin_icon {
	color: blue;
	padding: 2%;
}

.instagram_icon {
	color: green;
	padding: 2%;
}

@media all and (min-width: 500px) {
  .wrapper {
    display: flex;
    flex-direction: row-reverse;
  }
}
